@model IEnumerable<WebApplication5.Models.SuministroProveedor>

@{
    ViewData["Title"] = "Index";
}

<h1>Suministros Proveedor</h1>

<p>
    <a asp-action="Create">Crear nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FechaEntrega)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdProveedorNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdSuministroNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FechaEntrega)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdProveedorNavigation.IdProveedor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdSuministroNavigation.IdSuministro)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdSuministroProveedor">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdSuministroProveedor">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdSuministroProveedor">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
