@model WebApplication5.Models.Empleado

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Empleado</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ci)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ci)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdCargoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdCargoNavigation.IdCargo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdJornadaNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdJornadaNavigation.IdJornada)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdPersonaNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdPersonaNavigation.IdPersona)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdEmpleado">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
